main {
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    align-content: center;
}

.key {
    margin: 0 auto; 
    width: 6rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all 0.07s;
    text-align: center;
    color: #FF9900;
    background-color: rgba(0,0,0,0.4);
    border: black 3px solid;
    border-radius: 10px;

}

.playing {
    transform: scale(1.1);
    border-color: #FF9900;
    box-shadow: 0 0 5px black;
}

kbd {
    display: block;
    font-size: 40px;
}